*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color:black;
    display: block;
}
main{
    margin-top: 2rem;
}
.imgAvatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}
.grupoBotones{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.btn{
    width: 500px;
    padding: 20px 20px;
    text-align: center;
    font-size: 150%;
    margin:10px;
    border-radius: 12px;
    color: black;
    background-color: white;
    text-transform: capitalize;
}
h1{
    color: white;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}
.footer{
    color: white;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: white;
}