*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: blue;
    display: block;
}
.avatar{
    display: block;
}
.imgAvatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: black 1px solid;
}