*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color:black;
    display: block;
}
.imgAvatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: ;
}
h1{
    color: white;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}
.button{
   width: 100px;
}